
.quotation{
    font-size: 20px;
    color: white;

}
.form-details{
    text-align: center;
    background-color: grey;
    padding: 120px;
    

}
.header1{
    text-align: left;
    color: white;
}
.inputstl{
background: -moz-linear-gradient(top, #FFFFFF, #C6ECFF 1px, #FFFFFF);
}
/* #map{
    height: 100%;
    width: 100%;
} */
#warnings-panel{
    width: 100%;
    height: 10%;
    text-align: center;

}
#show-details{
    display: none;
}
#about {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: bisque;
    padding-top: 30px;
}

#mission {
    color: black;
    font-size: 20px;
    padding-top: 80px;
}

#are {
    width: 50%
}

h2 {
    text-align: center
}

.fab {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
}
.fa-facebook{
    background: #3B5998;
  color: white;
}
.fa-twitter{
    background: #55ACEE;
  color: white;
}
.fa-google{
    background: #dd4b39;
  color: white;
}

.text{
    display: none;
}
@import url('https://fonts.googleapis.com/css?family=Bree+Serif&display=swap');
#navbar{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
h1{
    font-family: 'Bree Serif', serif;

}
/* #maps{
    padding: 100px;
    height: 50px;
    width: 50px;
} */