
.carousel-item img {

.carousel-caption{
    text-align: center;
    font-family: sans-serif;
    position: absolute;
}
.carousel-item img{
    display: block;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100vh;
    margin: 20px auto;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
}
.carousel-caption h5{
    font-family: 'Passion One', cursive;
    text-align: right;
    font-size: 60px;
    color: #000;
    margin-right: 10px;
    
}
.carousel-caption h4{
    color: #000;
    text-align: right;
    font-size: 20px;
    margin-right: 15px;
}
p{
    color: #000;
    text-align: right;
    font-size: 20px;
    margin-right: 15px;
}
.carousel-caption{
    animation: fromLeft;
    opacity: 0;
    animation-fill-mode: forwards;
    text-align: center;
    margin-top: 100px;
    animation-duration: 3s;
    animation-delay: 2s;
    text-align: left;
    font-family: sans-serif;
    position: absolute;
    margin-bottom: 20%;
    
   }
   @keyframes fromLeft {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    50%{
        transform: translateX(30px)
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}


#services{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../images/residential-moving-1.jpg);
    background-size: cover;
    width: 100%;
    background-position: center;
    color: #fff !important;
    
    min-height: 80vh;
}
.services{
    margin: 90px;
    text-align: center;
}
.services h1:after{
    content: '';
    background: #fff;
    display: block;
    width: 150px;
    margin: 10px auto;
    height: 3px;
}
#row{
    text-align: center;
}
.icon{
    font-size: 40px;
    margin: 20px auto;
    padding: 20px;
    height: 80px;
    width: 80px;
    border: 1px solid white;
    border-radius: 50%;
}
.col-md-4:hover{
    box-shadow: 5px 7px 9px -3px rgba(255,255,255,0.5);
    cursor: pointer;
}
.house2{
    display: none;
}
.office2{
    display: none;
}
.pet2{
    display: none;
}
.pes{
    margin-top: -25px;
    margin-left: 25px;
}
.pes2{
    margin-top: -25px;
    margin-left: 25px;
}
span{
    color: grey;
}
#button{
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
}
.col-md-3{
    margin-top: 60px;
}
#it{
    font-size: 20px;
}
.hamisha{
     color: black;
}
#contact{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0,0,0,0));
    color: #fff;
    min-height: 500px;
}
a{
    color: #fff;
}
a:hover{
    color: #fff;
    cursor: pointer;


}
#choose{
    text-align: center;
}
body{
    font-family: 'Manjari', sans-serif;
}
#choose h2{
    text-align: left;
    font-family: 'Passion One', cursive;
    font-size: 50px;
}
#choose h5{
    text-align: left;
    color: lightgrey;

}

.quotation{
    font-size: 20px;
    color: white;

}
.form-details{
    text-align: center;
    background-color: grey;
    padding: 120px;
    

}
.header1{
    text-align: left;
    color: white;
}
.inputstl{
background: -moz-linear-gradient(top, #FFFFFF, #C6ECFF 1px, #FFFFFF);
}
/* #map{
    height: 100%;
    width: 100%;
} */
#warnings-panel{
    width: 100%;
    height: 10%;
    text-align: center;


}
#show-details{
    display: none;
}
#about{


    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    
}
.part-1{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/back4.jpg")center/ cover no-repeat fixed;
    /* background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.4;
    height: 100%;
    width: 100%; */
}



#are {
    width: 50%
}

h2 {
    text-align: center
}


.text{
    display: none;
}
.underline{
    width: 200px;
    height: 10px;
    background-color: gold;
    margin: 0 auto;
}
.font p{
    font-size: 20px
}
@import url('https://fonts.googleapis.com/css?family=Bree+Serif&display=swap');
#navbar{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
h1{
    font-family: 'Bree Serif', serif;

<<<<<<< HEAD
}
/* #maps{
    padding: 100px;
    height: 50px;
    width: 50px;
} */
=======
>>>>>>> 35513495bf28363cae43355d8d09c1346ebfb668
