#arthur{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../images/slide-13.jpg);
    background-size: cover;
    background-position: center;
    color: #fff !important;
    height: 700px;
}
